[Desktop Entry]
Categories=Qt;KDE;Utility;X-KDE-Utilities-Desktop;
Name=Apt-notifier
Name[ca]=Apt-notifier
Name[de]=Apt-notifier
Name[el]=Apt-notifier
Name[es]=Apt-notifier
Name[fr]=Notificateur Apt
Name[nl]=Apt-notifier
Name[pl]=Apt-notifier
Name[sv]=Apt-notifier
Comment=An applet to show apt updates
Comment[ca]=Miniaplicació per mostrar actualitzacions d'apt
Comment[de]=Applet, um Apt-Updates zu zeigen
Comment[el]=Μια μικροεφαρμογή για την εμφάνιση ενημερώσεων του apt
Comment[es]=Miniaplicación para mostrar las actualizaciones de apt
Comment[fr]=Applet qui affiche les mises à jour d'apt
Comment[nl]=Een applet om apt updates weer te geven
Comment[pl]=Aplet do pokaż apt aktualizacje
Comment[sv]=Ett miniprogram för att visa apt-uppdateringar
Exec=/usr/bin/apt-notifier
GenericName[en_US]=Apt Update Notification
GenericName=Apt Update Notification
Icon=mnotify-some
MimeType=
NotShowIn=KDE;
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-DocPath=

