[Desktop Entry]
Name=MX Apt-notifier
Name[ca]=MX Apt-notifier
Name[de]=MX Apt-notifier
Name[el]=MX Apt-notifier
Name[es]=MX Apt-notifier
Name[fr]=MX Apt-notifier
Name[it]=MX Apt-notifier
Name[ja]=MX Apt-notifier
Name[nl]=MX Apt-notifier
Name[pl]=MX Apt-notifier
Name[sv]=MX Apt-notifier
Comment=Re-enable apt-notifier icon even if no updates available
Comment[ca]=Reactiva la icona d'apt-notifier encara que no hi hagin actualitzacions
Comment[de]=Das Ikon von Apt-notifier reaktivieren, auch ohne verfügbare Updates 
Comment[el]=Ενεργοποιήσετε ξανά το εικονίδιο του apt-notifier, ακόμη και αν δεν υπάρχουν διαθέσιμες ενημερώσεις
Comment[es]=Rehabilitar el ícono de apt-notifier sin actualizaciones disponibles
Comment[fr]=Réactiver l'icône de Apt-notifier, même sans des mises à jour disponibles
Comment[it]=Riattivare l'icona Apt-notifier anche senza aggiornamenti disponibili
Comment[ja]=有効な更新がない場合でも相当の apt-notifier アイコンを再有効化します
Comment[nl]=Het Apt-notifier icon heractiveren, zelfs indien geen updates beschikbaar zijn
Comment[pl]=Włącz ponownie apt-notifier ikonę, nawet jeśli nie ma dostępnych aktualizacji
Comment[sv]=Återaktivera apt-notifier ikonen även om det inte finns några uppdateringar
GenericName=unhide/start
Exec=/usr/bin/apt-notifier-unhide-Icon
Icon=mnotify-some
StartupNotify=false
Categories=Qt;KDE;Utility;X-KDE-Utilities-Desktop;
NotShowIn=KDE;
