[Desktop Entry]
Name=MX Updater
Name[am]=MX ማሻሻያ 
Name[ca]=MX Updater
Name[cs]=MX Updater
Name[de]=MX Updater
Name[el]=MX Updater
Name[es]=MX Actualizador
Name[fi]=MX Päivitys
Name[fr]=MX Mise à jour
Name[hi]=MX अपडेट साधन
Name[hr]=MX Updater
Name[hu]=MX frissítő
Name[it]=MX Aggiornamenti
Name[ja]=MX Updater
Name[kk]=MX Updater
Name[lt]=MX Updater
Name[nl]=MX Updater
Name[pl]=MX Updater
Name[pt]=Actualizador do MX
Name[pt_BR]=MX Updater
Name[ro]=MX Updater
Name[ru]=MX Updater
Name[sk]=MX Updater
Name[sv]=MX Uppdaterare
Name[tr]=MX Updater
Name[uk]=MX Updater
Name[zh_TW]=MX 更新
Comment=Re-enable MX Updater icon even if no updates available
Comment[am]=የ MX ማሻሻያ ምልክት ምንም ማሻሻያ ባይኖርም እንኳን
Comment[ca]=Reactiva la icona de MX Updater encara que no hi hagi actualitzacions disponibles
Comment[cs]=Re-enable MX Updater icon even if no updates available
Comment[de]=Erneuerung des MX Updater-Symbols auch wenn keine Updates verfügbar sind
Comment[el]=Ενεργοποιήστε ξανά το εικονίδιο του MX Updater, ακόμη και αν δεν υπάρχουν διαθέσιμες ενημερώσεις
Comment[es]=Rehabilitar el icono de MX Updater aún cuando no hay actualizaciones disponibles
Comment[fi]=Re-enable MX Updater icon even if no updates available
Comment[fr]=Réaffiche l'icône de MX Mise à jour même si aucune mise à jour n'est disponible
Comment[hi]=Re-enable MX Updater icon even if no updates available
Comment[hr]=Re-enable MX Updater icon even if no updates available
Comment[hu]=Újból bekapcsolja az MX frissítő ikont, még akkor is, ha jelenleg nincs elérhető frissítés
Comment[it]=Riattivare l'icona di MX Aggiornamenti anche senza aggiornamenti disponibili
Comment[ja]=Re-enable MX Updater icon even if no updates available
Comment[kk]=Re-enable MX Updater icon even if no updates available
Comment[lt]=Re-enable MX Updater icon even if no updates available
Comment[nl]=Schakel MX Updater icoon opnieuw in, ook al zijn er geen updates beschikbaar
Comment[pl]=Re-enable MX Updater icon even if no updates available
Comment[pt]=Reactivar o ícone do Actualizador do MX Updater mesmo que não haja actualizações disponíveis
Comment[pt_BR]=Re-enable MX Updater icon even if no updates available
Comment[ro]=Re-enable MX Updater icon even if no updates available
Comment[ru]=Re-enable MX Updater icon even if no updates available
Comment[sk]=Re-enable MX Updater icon even if no updates available
Comment[sv]=Återaktivera MX Uppdaterare ikonen även om det inte finns några uppdateringar
Comment[tr]=Re-enable MX Updater icon even if no updates available
Comment[uk]=Re-enable MX Updater icon even if no updates available
Comment[zh_TW]=即便目前沒有更新，仍然讓 MX 更新的圖示顯示出來
GenericName=unhide/start
Exec=/usr/bin/apt-notifier-unhide-Icon
Icon=mnotify-some
StartupNotify=false
Categories=Qt;KDE;Utility;X-KDE-Utilities-Desktop;
OnlyShowIn=KDE;
