[Desktop Entry]
Categories=Qt;KDE;Utility;X-KDE-Utilities-Desktop;
Name=MX Updater
Name[am]=MX ማሻሻያ 
Name[ca]=MX Updater
Name[cs]=MX Updater
Name[de]=MX Updater
Name[el]=MX Updater
Name[es]=MX Updater
Name[fi]=MX Päivitys
Name[fr]=MX Mise à jour
Name[hi]=MX अपडेट साधन
Name[hr]=MX Updater
Name[hu]=MX frissítő
Name[it]=MX Aggiornamenti
Name[ja]=MX Updater
Name[kk]=MX Updater
Name[lt]=MX atnaujinimų programa
Name[nl]=MX Updater
Name[pl]=MX Updater
Name[pt_BR]=Actualizador do MX
Name[pt]=Actualizador do MX
Name[ro]=MX Updater
Name[ru]=MX Updater
Name[sk]=MX Updater
Name[sv]=MX Uppdaterare
Name[tr]=MX Updater
Name[uk]=MX Updater
Name[zh_TW]=MX 更新
Comment=An applet to show updates
Comment[am]=ማሻሻያ የሚያሳይ አፕሌት
Comment[ca]=Una aplicació per mostrar les actualitzacions
Comment[cs]=An applet to show updates
Comment[de]=Ein Anzeiger verfügbarer Updates
Comment[el]=Μια μικροεφαρμογή για την εμφάνιση ενημερώσεων
Comment[es]=Un applet que muestra actualizaciones
Comment[fi]=Sovelma päivitysten näyttämiseen
Comment[fr]=Un applet affichant les mises à jour
Comment[hi]=An applet to show updates
Comment[hr]=An applet to show updates
Comment[hu]=Frissítésjelző minialkalmazás
Comment[it]=Un applet che mostra gli aggiornamenti
Comment[ja]=An applet to show updates
Comment[kk]=An applet to show updates
Comment[lt]=Programėlė, skirta rodyti atnaujinimus
Comment[nl]=Een applet om updates te laten zien
Comment[pl]=An applet to show updates
Comment[pt_BR]=Mini-aplicação que mostra as atualizações disponíveis [apt-notifier]
Comment[pt]=Mini-aplicação que mostra as actualizações disponíveis [apt-notifier]
Comment[ro]=An applet to show updates
Comment[ru]=An applet to show updates
Comment[sk]=An applet to show updates
Comment[sv]=Ett miniprogram för att visa uppdateringar
Comment[tr]=An applet to show updates
Comment[uk]=An applet to show updates
Comment[zh_TW]=顯示更新訊息的小程式
Exec=bash -c 'sleep 8; exec /usr/bin/apt-notifier'
GenericName[en_US]=MX Updater
GenericName=MX Updater
Icon=mnotify-some
MimeType=
OnlyShowIn=KDE;
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-DocPath=
X-KDE-StartupNotify=false
X-KDE-SubstituteUID=false
X-KDE-UniqueApplet=true
X-KDE-Username=
X-KDE-autostart-condition=apt-notifierrc:General:AutoStart:true
X-KDE-autostart-phase=2
