[Desktop Entry]
Categories=Qt;KDE;Utility;X-KDE-Utilities-Desktop;
Name=MX Updater
Name[es]=MX Actualizador
Name[fr]=MX Mise à jour
Name[nl]=MX Updater
Comment=An applet to show updates
Comment[es]=Un applet que muestra actualizaciones
Comment[fr]=Un applet affichant les mises à jour
Comment[nl]=Een applet om updates te laten zien
Exec=/usr/bin/apt-notifier
GenericName[en_US]=MX Updater
GenericName=MX Updater
Icon=mnotify-some
MimeType=
NotShowIn=KDE;
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-DocPath=

