[Desktop Entry]
Name=MX Updater
Name[am]=MX ማሻሻያ
Name[ar]=MX Updater
Name[bg]=MX Updater
Name[ca]=MX Updater
Name[cs]=MX Updater
Name[da]=MX Opdatering
Name[de]=MX Updater
Name[el]=MX Updater
Name[es]=MX Actualizador
Name[et]=MX Updater
Name[eu]=MX Updater
Name[fa]=MX Updater
Name[fi]=MX Päivitys
Name[fr]=MX Mise à jour
Name[he_IL]=MX Updater
Name[hi]=MX अपडेट साधन
Name[hr]=MX Updater
Name[hu]=MX frissítő
Name[id]=MX Updater
Name[is]=Uppfæra MX
Name[it]=MX Aggiornamenti
Name[ja_JP]=MX Updater
Name[ja]=MX Updater
Name[kk]=MX Updater
Name[ko]=MX Updater
Name[lt]=MX atnaujinimų programa
Name[mk]=MX Updater
Name[nb]=MX Updater
Name[nl]=MX Updater
Name[pl]=MX Aktualizacje
Name[pt_BR]=Notificador de Atualizações
Name[pt]=Notificador de Actualizações
Name[ro]=MX Updater
Name[ru]=MX Updater
Name[sk]=MX Updater
Name[sl]=MX Updater
Name[sq]=MX Updater
Name[sr]=MX Updater
Name[sv]=MX Uppdaterare
Name[tr]=MX Updater
Name[uk]=MX Updater
Name[zh_CN]=MX Updater
Name[zh_TW]=MX 更新
Comment=Re-enable MX Updater icon even if no updates available
Comment[am]=የ MX ማሻሻያ ምልክት ምንም ማሻሻያ ባይኖርም እንኳን
Comment[ar]=Re-enable MX Updater icon even if no updates available
Comment[bg]=Re-enable MX Updater icon even if no updates available
Comment[ca]=Reactiva la icona de MX Updater encara que no hi hagi actualitzacions disponibles
Comment[cs]=Re-enable MX Updater icon even if no updates available
Comment[da]=Genaktivér MX Opdatering-ikonet, selv hvis der ikke findes nogen opdateringer
Comment[de]=MX Updater-Symbol wieder anzeigen, auch wenn keine Updates verfügbar sind
Comment[el]=Ενεργοποιήστε ξανά το εικονίδιο του MX Updater, ακόμη και αν δεν υπάρχουν διαθέσιμες ενημερώσεις
Comment[es]=Rehabilitar el icono de MX Updater aún cuando no hay actualizaciones disponibles
Comment[et]=Re-enable MX Updater icon even if no updates available
Comment[eu]=Re-enable MX Updater icon even if no updates available
Comment[fa]=Re-enable MX Updater icon even if no updates available
Comment[fi]=Re-enable MX Updater icon even if no updates available
Comment[fr]=Réaffiche l'icône de MX Mise à jour même si aucune mise à jour n'est disponible
Comment[he_IL]=Re-enable MX Updater icon even if no updates available
Comment[hi]=Re-enable MX Updater icon even if no updates available
Comment[hr]=Re-enable MX Updater icon even if no updates available
Comment[hu]=Újból bekapcsolja az MX frissítő ikont, még akkor is, ha jelenleg nincs elérhető frissítés
Comment[id]=Re-enable MX Updater icon even if no updates available
Comment[is]=Re-enable MX Updater icon even if no updates available
Comment[it]=Riattivare l'icona di MX Aggiornamenti anche senza aggiornamenti disponibili
Comment[ja_JP]=Re-enable MX Updater icon even if no updates available
Comment[ja]=Re-enable MX Updater icon even if no updates available
Comment[kk]=Re-enable MX Updater icon even if no updates available
Comment[ko]=Re-enable MX Updater icon even if no updates available
Comment[lt]=Iš naujo įjungti MX atnaujinimų programos piktogramą, netgi jei nėra prieinami jokie atnaujinimai
Comment[mk]=Re-enable MX Updater icon even if no updates available
Comment[nb]=Re-enable MX Updater icon even if no updates available
Comment[nl]=Schakel MX Updater icoon opnieuw in, ook al zijn er geen updates beschikbaar
Comment[pl]=Ponownie włącz ikonę MX Aktualizacje, nawet jeśli nie są dostępne żadne aktualizacje
Comment[pt_BR]=Reativar o ícone do MX Atualizador mesmo que não haja atualizações disponíveis
Comment[pt]=Reactivar o ícone do Notificador de Actualizações mesmo que não haja actualizações disponíveis
Comment[ro]=Re-enable MX Updater icon even if no updates available
Comment[ru]=Re-enable MX Updater icon even if no updates available
Comment[sk]=Re-enable MX Updater icon even if no updates available
Comment[sl]=Re-enable MX Updater icon even if no updates available
Comment[sq]=Re-enable MX Updater icon even if no updates available
Comment[sr]=Re-enable MX Updater icon even if no updates available
Comment[sv]=Återaktivera MX Uppdaterare ikonen även om det inte finns några uppdateringar
Comment[tr]=Re-enable MX Updater icon even if no updates available
Comment[uk]=Re-enable MX Updater icon even if no updates available
Comment[zh_CN]=Re-enable MX Updater icon even if no updates available
Comment[zh_TW]=即便目前沒有更新，仍然讓 MX 更新的圖示顯示出來
GenericName=unhide/start
Exec=/usr/bin/apt-notifier-unhide-Icon
Icon=mnotify-some
StartupNotify=false
Categories=Qt;KDE;Utility;X-KDE-Utilities-Desktop;
OnlyShowIn=KDE;
