[Desktop Entry]
Name=MX Updater
Name[ca]=MX Updater
Name[de]=MX Updater
Name[el]=MX Updater
Name[es]=MX Updater
Name[fr]=MX Updater
Name[it]=MX Updater
Name[ja]=MX Updater
Name[nl]=MX Updater
Name[pl]=MX Updater
Name[sv]=MX Updater
Comment=Re-enable MX Updater icon even if no updates available
Comment[ca]=Reactiva la icona d'MX Updater encara que no hi hagin actualitzacions
Comment[de]=Das Ikon von MX Updater reaktivieren, auch ohne verfügbare Updates 
Comment[el]=Ενεργοποιήσετε ξανά το εικονίδιο του MX Updater, ακόμη και αν δεν υπάρχουν διαθέσιμες ενημερώσεις
Comment[es]=Rehabilitar el ícono de MX Updater sin actualizaciones disponibles
Comment[fr]=Réactiver l'icône de MX Updater même si aucune mise à jour n'est disponible
Comment[it]=Riattivare l'icona MX Updater anche senza aggiornamenti disponibili
Comment[ja]=有効な更新がない場合でも相当の MX Updater アイコンを再有効化します
Comment[nl]=Het MX Updater icon heractiveren, zelfs indien geen updates beschikbaar zijn
Comment[pl]=Włącz ponownie MX Updater ikonę, nawet jeśli nie ma dostępnych aktualizacji
Comment[sv]=Återaktivera MX Updater ikonen även om det inte finns några uppdateringar
GenericName=unhide/start
Exec=/usr/bin/apt-notifier-unhide-Icon
Icon=mnotify-some
StartupNotify=false
Categories=Qt;KDE;Utility;X-KDE-Utilities-Desktop;
NotShowIn=KDE;
