<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
  "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<!-- 
	/usr/share/polkit-1/actions/org.mxlinux.mx-updater-view-auto-update-dpkg-logs.policy
!-->
 <policyconfig>
  <vendor>MX Linux</vendor>
  <vendor_url>https://mxlinux.org</vendor_url>
  <action id="org.mxlinux.mx-updater-view-auto-update-dpkg-logs">
    <description>Run MX Linux application</description>
    <message>View Auto-update dpkg log(s)</message>
    <message xml:lang="am">View Auto-update dpkg log(s)</message>
    <message xml:lang="ar">View Auto-update dpkg log(s)</message>
    <message xml:lang="bg">View Auto-update dpkg log(s)</message>
    <message xml:lang="ca">View Auto-update dpkg log(s)</message>
    <message xml:lang="cs">View Auto-update dpkg log(s)</message>
    <message xml:lang="da">Vis automatisk opdatering dpkg-log(ge)</message>
    <message xml:lang="de">dpkg-Protokoll(e) der automatischen Aktualisierung ansehen</message>
    <message xml:lang="el">Προβολή αυτόματης ενημέρωσης αρχείου καταγραφής dpkg</message>
    <message xml:lang="es">View Auto-update dpkg log(s)</message>
    <message xml:lang="et">View Auto-update dpkg log(s)</message>
    <message xml:lang="eu">View Auto-update dpkg log(s)</message>
    <message xml:lang="fa">View Auto-update dpkg log(s)</message>
    <message xml:lang="fi">View Auto-update dpkg log(s)</message>
    <message xml:lang="fr">Voir historique d'évènements dpkg de la mise à jour automatique</message>
    <message xml:lang="he_IL">View Auto-update dpkg log(s)</message>
    <message xml:lang="hi">View Auto-update dpkg log(s)</message>
    <message xml:lang="hr">View Auto-update dpkg log(s)</message>
    <message xml:lang="hu">View Auto-update dpkg log(s)</message>
    <message xml:lang="id">View Auto-update dpkg log(s)</message>
    <message xml:lang="is">View Auto-update dpkg log(s)</message>
    <message xml:lang="it">Visualizza il log di dpkg Auto-aggiornamento</message>
    <message xml:lang="ja_JP">View Auto-update dpkg log(s)</message>
    <message xml:lang="ja">View Auto-update dpkg log(s)</message>
    <message xml:lang="kk">View Auto-update dpkg log(s)</message>
    <message xml:lang="ko">View Auto-update dpkg log(s)</message>
    <message xml:lang="lt">Rodyti automatinio atnaujinimo dpkg žurnalą(-us)</message>
    <message xml:lang="mk">View Auto-update dpkg log(s)</message>
    <message xml:lang="nb">View Auto-update dpkg log(s)</message>
    <message xml:lang="nl">Bekijk Auto-opwaarderen dpkg log(s)</message>
    <message xml:lang="pl">Wyświetl dziennik(i) dpkg automatycznej aktualizacji</message>
    <message xml:lang="pt_BR">View Auto-update dpkg log(s)</message>
    <message xml:lang="pt">View Auto-update dpkg log(s)</message>
    <message xml:lang="ro">View Auto-update dpkg log(s)</message>
    <message xml:lang="ru">Показать лог(и) автообновления dpkg</message>
    <message xml:lang="sk">View Auto-update dpkg log(s)</message>
    <message xml:lang="sl">View Auto-update dpkg log(s)</message>
    <message xml:lang="sq">View Auto-update dpkg log(s)</message>
    <message xml:lang="sr">View Auto-update dpkg log(s)</message>
    <message xml:lang="sv">Se Auto-uppdateringens dpkg-logg(ar)</message>
    <message xml:lang="tr">View Auto-update dpkg log(s)</message>
    <message xml:lang="uk">View Auto-update dpkg log(s)</message>
    <message xml:lang="zh_CN">View Auto-update dpkg log(s)</message>
    <message xml:lang="zh_TW">View Auto-update dpkg log(s)</message>
    <icon_name>mnotify-some-wireframe-pkexec</icon_name>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/apt-notifier/pkexec-wrappers/mx-updater-view-auto-update-dpkg-logs</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">--qtenv</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
