Package: apt-notifier
Version: 1.3.4mx160+1
Architecture: all
Maintainer: Steve (Stevo) Pusser <maintainer@mepiscommunity.org>
Installed-Size: 201
Depends: apt, bash (>= 3.2-4), gtkdialog, konsole | x-terminal-emulator, python-qt4, synaptic, yad (>= 0.26)
Conflicts: mepis-aptnotify
Replaces: mepis-aptnotify
Section: admin
Priority: optional
Homepage: http://forum.mepiscommunity.org/
Description: tray applet to notify of system and application updates
