[Desktop Entry]
Categories=Qt;KDE;Utility;X-KDE-Utilities-Desktop;
Comment[en_US]=An applet to show apt updates
Comment=An applet to show apt updates
Comment[ca]=Miniaplicació per mostrar actualitzacions d'apt
Comment[de]=Applet, um Apt-Updates zu zeigen
Comment[el]=
Comment[es]=Miniaplicación para mostrar las actualizaciones de apt
Comment[fr]=Applet pour afficher les mises à jour d'apt
Comment[it]=
Comment[ja]=
Comment[nl]=Een applet om apt updates weer te geven
Comment[pl]=Aplet do pokaż apt aktualizacje
Comment[sv]=Ett miniprogram för att visa apt-uppdateringar
Exec=/usr/bin/apt-notifier
GenericName[en_US]=Apt Update Notification
GenericName=Apt Update Notification
Icon=mnotify-some
MimeType=
Name[en_US]=MX Apt-notifier
Name=MX Apt-notifier
NotShowIn=KDE;
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-DocPath=

